html
{
	background-color: pink;
}

html, body, .art-container
{
	height: 100%;
	margin: 0;
}

.art-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.art
{
	animation-name: tilt;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes tilt {
    from {transform: rotate(-7deg);}
    to {transform: rotate(7deg);}
}

#audio
{
	position: absolute;
}